h1  {
  font-family: Times, Helvetica;
  text-align: center;
}

h2  {
  font-family: Georgia, Helvetica;
}

a:link {
  color: #E60000;
}

a:hover {
  color: #6CB56C;
}

body {
  background-color: #DBDBD5;
}
